# Regular packages
dask[complete]
datashader
pyarrow
holoviews
ipykernel

# Extra index URL for NVIDIA packages
--extra-index-url https://pypi.nvidia.com

cudf-cu12==24.4.*
dask-cudf-cu12==24.4.*
cuml-cu12==24.4.*
cugraph-cu12==24.4.*
cuspatial-cu12==24.4.*
cuproj-cu12==24.4.*
cuxfilter-cu12==24.4.*
cucim-cu12==24.4.*
pylibraft-cu12==24.4.*
raft-dask-cu12==24.4.*
cuvs-cu12==24.4.*